<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>55</integer>
	<key>Time Stamp</key>
	<real>1586750272.0330739</real>
	<key>UUID</key>
	<string>F3588695-E57C-4701-8430-CB7EF198C489</string>
</dict>
</plist>
